@keyframes scale {
	0% {
        transform-origin: center;
		transform: scale(0.0);
	}
	80% {
        transform-origin: center;
		transform: scale(1.0);
	}
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform-origin: center;
        transform: scale(0.0);
    }
}

.about-sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #bbb;
    border-top: 1px solid rgb(49, 51, 50);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(49, 51, 50) 13%, rgba(0, 0, 0, 1) 100%);
  }
.skills {
    margin: 0 1.5em;
}
.certificates {
    margin: 1.5em;
    width: 63%;
}
@media only screen and (max-width: 1050px) {
    .certificates {
      width: 100%;
    }
    .certificate {
        margin: auto 0.5em;
    }
  }
.certificate-display h4 {
    font-family: 'opensans-bold', sans-serif;
    color: #777;
    letter-spacing: 5px;
}
.certificate-display h5 {
    letter-spacing: 2px;
    margin: 0.8em;
}
.certificate-type-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}
.certificate {
    width: 30%;
    max-width: 200px;
    min-width: 180px;
}

.nanodegree {
    width: 30%;
    max-width: 300px;
    min-width: 200px;
}
.certificate-type-display img{
    cursor: zoom-in;
    width: 100%;
    opacity: 0.6;
}
@media only screen and (max-width: 440px) {
    .certificate img {
      display: none;
    }
    .certificate {
      width: 100%;
      max-width: 100%;
      height: 3em;
    }
    .certificate h5 {
        display: inline-block;
        line-height: 1.5em;
    }
  }
.zoomIn {
    cursor: zoom-out !important;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    z-index: 50;
    opacity: 1 !important;
    transform: translate(-50%, -50%);
}

.skill-display {
    display: inline-block;
    margin: auto;
    text-align: justify;
}
.skill-display p {
    padding: 0.5em;
}

progress[value] {
    -webkit-appearance: none;
     appearance: none;
    max-width: 250px;
    height: 20px;
}

progress[value]::-webkit-progress-bar {
    border-radius: 2px;
    box-shadow: 0 3px 5px #303030 inset;
}

progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .2) 33%, 
                                 rgba(0,0, 0, .2) 66%, transparent 66%);
    
    box-shadow: 0 2px 3px rgb(225, 241, 199) inset;
    border-radius: 2px; 
    background-size: 100% 100%;
  }

#HTML[value]::-webkit-progress-value {
    background-color: #e44c23;
}
#CSS[value]::-webkit-progress-value {
    background-color: #1c7cbc;
}
#Javascript[value]::-webkit-progress-value {
    background-color: #ebcd2c;
}
#jQuery[value]::-webkit-progress-value {
    background-color: #7acef4;
}
#NodeJs[value]::-webkit-progress-value {
    background-color: #43853d;
}
#React[value]::-webkit-progress-value {
    background-color: #61dafb;
}
#Redux[value]::-webkit-progress-value {
    background-color: #744bbc;
}
#Postgres[value]::-webkit-progress-value {
    background-color: #336791;
}
#Angular[value]::-webkit-progress-value {
    background-color: #c4042b;
}
#Solidity[value]::-webkit-progress-value {
    background-color: #636b8c;
}
#Python[value]::-webkit-progress-value {
    background-color: #f8c953;
}